.extContainer{
    display: flex;
    width: 90vw;
    position: relative;
    max-width: 90vw;
    box-sizing: border-box;

}

.intContainer{
    flex: 1;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}

.titoloCaso{
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
}

.titoloCaso button{
    color: white;
}

.contenutoCasoOpen{
    border: 1px solid white;
    transition: visibility 3s ;
    width: 100%;
}

.contenutoCasoClosed{
    width: 0px;
    visibility:hidden;
}

.intContainer p{
    padding: 15px;
    font-size: 1.5em;
}
