.logo{
    padding-left: 0;
    flex: 1;
    width: 25vw;
    height: auto;

}
.menu{
    flex: 2;
    float: inline-end;
    width: 20vw;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 55vw;

  /*  background-color: aquamarine;*/
    
}