.logo{
    position: absolute;
    top: 2vh;
    left: 3vw;
    height: 18vh;
    width: 450px;
}

.menu{
    flex: 2;
    float: inline-end;
    width: 20vw;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 55vw;    
}


@media screen and (max-width: 500px) {
    .logo {
        width: 80vw;
        height: 14.5vh;
    }
  }