.container{
    display: flex;
    flex-direction: row;   
    padding: 0 5vw;
    justify-content: center;
    align-items: center;
}
.infos{
    flex: 4;
    border: solid white 3px;
    background-color: rgb(37, 36, 36);
    text-align: center;
}
.infos p{
    margin: 20px;
    font-size: 1.4em;
}
.mezzo{
    flex: 1;
    position: relative;
    padding: 2px;
    text-align: center;
    font-size: 1.2em;
}


@media screen and (max-width: 500px) {
    .container{
        display: flex;
        flex-direction: column;  
        box-sizing: border-box; 
        padding: 0 1vw;        
    }
    .infos{
        flex: 10;
        border: solid white 3px;
        background-color: rgb(37, 36, 36);
        text-align: center;
        width: 100%;
    }
    .infos p{
        margin: 20px;
        font-size: 1.4em;
    }
    .mezzo{
        flex: 1;
        position: relative;
        padding: 2px;
        text-align: center;
        font-size: 1.2em;
    }
  }