.container{
    display: flex;
    justify-content:space-between;
    padding: 0 2vw;
    max-width: 88vw;
    box-sizing: border-box;
    margin-left: 5%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text p{
    font-size: 1.5em;
}
.contactButton{
    position: absolute;
}
.titolo{
    width: 90%;
    text-align: end;
    margin-bottom: 50px;
}


@media screen and (max-width: 500px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

   
  }