.dropdown {

}

.dropdown button {
    position: relative;
    top: 30px;
}

.contenuto {
    display: block;
    position:absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: rgb(67, 66, 66);
    padding: 25px;
}

.contenuto a {
    text-decoration: none;
    color: white;
    display: block;
}
